$font-icons: "Icons", sans-serif;
$font-main: "Gilroy", sans-serif;

$mediaWidthMobile: 767px;
$mediaWidthTablet: 991px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1024px;
$width: 1130px;